/* font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.navbar-nav .nav-link.active {
  color: #5d5fef;
  border-bottom: 1px solid #5d5fef;
}

.mouse-cursor {
  cursor: pointer;
}

.arrow-color {
  color: #5d5fef;
}
